body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin-bottom: 200px;
}
a {
    text-decoration: none;
    color: #fff;
}
h1 {
    text-align: center;
    margin: 100px;
}
img {
    max-width: 100%;
    display: block;
}
.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap; /*quando a tela ficar menor ele se alinha um debaixo do outro*/
    justify-content: space-between; /* Cria um espaço entre eles (horizontalmente)*/ 
    align-items: center; /*veritcalmente*/
    padding: 20px;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX */

.flex {
    display: flex;
    flex-wrap: wrap; /* Pode quebrar */
    max-width: 800px; /* Tamanho maximo de largura */
    margin: 0 auto;
}
.flex > div {
    flex: 1 1 200px; /* Expandir, ficar menor, base 200px (caso for 0 nao vai atribuir essas caracteristicas) */
    margin: 10px;
    text-align: center;
}

/* CSS GRID 1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr - fracao dividida por 100%*/
    max-width: 780px;
    margin: 0 auto;
    grid-gap: 20px;
}
.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}
.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: 5px solid tomato;
    display: block;
}
@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: 1fr 1fr;
    }
    .grid1 > div:nth-child(n + 4) {
        display: block;
    }
    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}
/* CSS GRID 2 */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.sidebar > div{
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: flex;
        overflow: scroll; /* Cria um scroll */
    }
    .sidebar > div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}

/* CSS GRID 3 */

.grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
.grid3-item:nth-child(1) {
    grid-row: 1 / 3;
}
.grid3-item {
    display: grid;
}
.grid3-item img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}
.grid3-item p {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}