* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #001925;

}
.list {
    padding: 30px;
    position: relative;
    background-color: #042b3e;
    border-top: 50px solid #03a9f4;
}
.list h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    margin-left: 10px;
    display: inline-block;
    border-bottom: 4px solid #fff;
}
.list label {
    position: relative;
    display: block;
    margin: 40px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.list input[type="checkbox"] {
    -webkit-appearance: none;
}
.list i {
    position: absolute;
    top: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
}
.list input[type="checkbox"]:checked ~ i {
    top: 1px;
    border-top: none;
    border-right: none;
    height: 15px;
    width: 25px;
    transform: rotate(-45deg);
}
.list span {
    position: relative;
    left: 40px;
    transition: 0.5s;
    width: auto;
}
.list span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.list input[type="checkbox"]:checked ~ span:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.list input[type="checkbox"]:checked ~ span {
    color: #154e6b;
}